In [70]:
import numpy as np
import pandas as pd
pd.__version__

'2.3.2'

In [42]:
import os

if not os.path.exists('data_car_fuel_efficiency.csv'):
    data_car_fuel_efficiency = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
    data_car_fuel_efficiency.to_csv('data_car_fuel_efficiency.csv', index=False)
else:
    data_car_fuel_efficiency = pd.read_csv('data_car_fuel_efficiency.csv')

In [43]:
data_car_fuel_efficiency.shape[0]

9704

In [44]:
data_car_fuel_efficiency.nunique()

engine_displacement      36
num_cylinders            14
horsepower              192
vehicle_weight         9704
acceleration            162
model_year               24
origin                    3
fuel_type                 2
drivetrain                2
num_doors                 9
fuel_efficiency_mpg    9704
dtype: int64

In [45]:
data_car_fuel_efficiency.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [46]:
data_car_fuel_efficiency.groupby('origin')['fuel_efficiency_mpg'].max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

In [47]:
raw_median_horsepower = data_car_fuel_efficiency['horsepower'].median()

In [48]:
data_car_fuel_efficiency['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [37]:
data_car_fuel_efficiency['horsepower'] = data_car_fuel_efficiency['horsepower'].fillna(data_car_fuel_efficiency['horsepower'].median())

In [49]:
filled_median_horsepower = data_car_fuel_efficiency.horsepower.median()

In [51]:
if raw_median_horsepower == filled_median_horsepower: 
    print('No change')

No change

In [104]:
asia_cars = data_car_fuel_efficiency[data_car_fuel_efficiency['origin'] == 'Asia']

In [105]:
asia_cars = asia_cars[['vehicle_weight', 'model_year']].reset_index(drop=True)

In [123]:
asia_cars_7 = asia_cars[:7]
asia_cars_7

   vehicle_weight  model_year
0     2714.219310        2016
1     2783.868974        2010
2     3582.687368        2007
3     2231.808142        2011
4     2659.431451        2016
5     2844.227534        2014
6     3761.994038        2019

In [125]:
X = asia_cars_7.to_numpy()
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [128]:
XTX = X.T.dot(X)

In [129]:
XTX_inv = np.linalg.inv(XTX)

In [130]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [131]:
w = XTX_inv.dot(X.T).dot(y)

In [134]:
np.sum(w)

np.float64(0.5187709081074016)