In [56]:
!wget 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-06-trees/CreditScoring.csv'

--2025-10-28 16:34:54--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-06-trees/CreditScoring.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 182489 (178K) [text/plain]
Saving to: ‘CreditScoring.csv.1’

CreditScoring.csv.1 100%[===================>] 178.21K  --.-KB/s    in 0.007s

2025-10-28 16:34:54 (25.5 MB/s) - ‘CreditScoring.csv.1’ saved [182489/182489]

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('CreditScoring.csv')

In [4]:
df.columns = df.columns.str.lower()

In [5]:
status_values = {
    1:"ok",
    2:"default",
    0:"unk",
    }

df.status = df.status.map(status_values)

home_values = {
    1: 'rent',
    2: 'owner',
    3: 'private',
    4: 'ignore',
    5: 'parents',
    6: 'other',
    0: 'unk'
}

df.home = df.home.map(home_values)

marital_values = {
    1: 'single',
    2: 'married',
    3: 'widow',
    4: 'separated',
    5: 'divorced',
    0: 'unk'
}

df.marital = df.marital.map(marital_values)

records_values = {
    1: 'no',
    2: 'yes',
    0: 'unk'
}

df.records = df.records.map(records_values)

job_values = {
    1: 'fixed',
    2: 'partime',
    3: 'freelance',
    4: 'others',
    0: 'unk'
}

df.job = df.job.map(job_values)

In [6]:
df.describe().round()

       seniority    time     age  ...        debt  amount    price
count     4455.0  4455.0  4455.0  ...      4455.0  4455.0   4455.0
mean         8.0    46.0    37.0  ...    404382.0  1039.0   1463.0
std          8.0    15.0    11.0  ...   6344253.0   475.0    628.0
min          0.0     6.0    18.0  ...         0.0   100.0    105.0
25%          2.0    36.0    28.0  ...         0.0   700.0   1118.0
50%          5.0    48.0    36.0  ...         0.0  1000.0   1400.0
75%         12.0    60.0    45.0  ...         0.0  1300.0   1692.0
max         48.0    72.0    68.0  ...  99999999.0  5000.0  11140.0

[8 rows x 9 columns]

In [7]:
for col in ['income', 'assets', 'debt']:
    df[col] = df[col].replace(np.int64(99999999), np.nan)

In [8]:
df.status.value_counts()

status
ok         3200
default    1254
unk           1
Name: count, dtype: int64

In [ ]:
# Remove row with unk

df = df[df.status != 'unk']

In [24]:
from sklearn.model_selection import train_test_split

df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=11)
df_train, df_val = train_test_split(df_full_train, test_size=0.2, random_state=11)

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train['status']
y_val = df_val['status']
y_test = df_test['status']

df_train = df_train.drop(columns='status')
df_val = df_val.drop(columns='status')
df_test = df_test.drop(columns='status')

In [28]:
y_train_astype = (y_train=='default').astype('int64')
y_train_astype.mean()

np.float64(0.2743859649122807)